:root {
	--primary-color: #ffff;
	--secondary-color: #31363f;
	--highlight-color: #f25621;
	--dark-color: rgba(0, 0, 0, .87);
	--bg-sec-color: #fef0ec;
	--alternative-color: #2767e7;
	--max-width: 1100px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.4;
	font-size: 16px;
	/* color: #fff; */
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	margin: 0.75rem 0;
}

.text-center {
	text-align: center;
}

/* .text-primary {
	color: #003580;
} */

.bg-primary {
	background: var(--primary-color);
	color: var(--secondary-color);
}

.bg-secondary {
	color: var(--primary-color);
	background: var(--secondary-color);
}

.bg-highlight {
	background: var(--highlight-color);
	color: var(--primary-color);
}

.l-heading {
	font-size: 4rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.m-heading {
	font-size: 2rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.lead {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.py-1 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

.p-1 {
	padding: 1.5rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}

.btn {
	display: inline-block;
	color: var(--primary-color);
	background: var(--highlight-color);
	padding: 0.3rem 1rem;
	margin: 1rem;
	border: none;
	border-radius: 5px;
}

.btn:hover {
	opacity: 0.7;
}

.btn-dark {
	background: var(--dark-color);
	color: var(--primary-color);
}

.btn-secondary {
	display: block;
}

.list {
	margin: 0.5rem 0;
	list-style: none;
}

.list li {
	padding: 0.5rem 0;
	/* border-bottom: #444 dotted 1px; */
}

/* Navbar */
#navbar {
	display: flex;
	position: sticky;
	top: 0;
	background: var(--secondary-color);
	color: var(--primary-color);
	justify-content: space-between;
	z-index: 1;
	padding: .6rem;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	color: #fff;
	padding: 0.75rem;
	margin: 0 0.25rem;
}

#navbar ul li a:hover {
	background: var(--highlight-color);
	border-radius: 5px;
}
#navbar .sign-out {
	display: flex;
	align-items: center;
	list-style: none;
}

/* Showcase */
#showcase {
	background: var(--dark-color) url('../img/showcase.jpg') no-repeat center center/cover;
	height: 50vh;
	color: #fff;
	/* position: relative; */
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.4);
}

/* example style triposo
.side-menu {
    width: 224px;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    background-color: #333439;
    z-index: 1;
    overflow-y: scroll;
} */

.container {
	max-width: 1100px;
	margin: auto;
	/* padding: 0 2 rem; */
	overflow: hidden;
}

/* .thumbnail {
	width: 12%;
	height: auto;
} */

/* .tutorial {
	width: 600px;
	text-align: center;
	margin: auto;
}

figure.image {
	display: flex;
	justify-content: center;
	background-color: black;
}

figure .image img {
	width: 128px;
}

.notification {
	margin-top: 20px !important;
}

.title .icon {
	margin-left: 15px;
}

.hero {
	margin-bottom: 20px;
}

.forms {
	display: flex;
	justify-content: space-around;
} */

/* property of Dropdown-Menue */
.input,
.textarea {
	align-items: center;
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.5em;
	justify-content: flex-start;
	opacity: 0.9;
	padding: 1rem;
	position: relative;
	vertical-align: top;
}

.dropdown {
	display: flex;
	position: relative;
	/* vertical-align: bottom; */
}

.dropdown.is-active .dropdown-menu,
.dropdown.is-hoverable:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	display: none;
	left: 10;
	min-width: 12rem;
	padding-top: 4px;
	position: absolute;
	top: 100%;
	/* z-index: 20; */
}

.dropdown-content {
	background-color: var(--primary-color);
	border-radius: 4px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.dropdown-item {
	color: var(--secondary-color);
	display: block;
	font-size: 0.875rem;
	line-height: 1.5;
	padding: 0.375rem 1rem;
	position: relative;
}

a.dropdown-item,
button.dropdown-item {
	padding-right: 3rem;
	text-align: start;
	/* align-items: left; */
	white-space: nowrap;
	width: 100%;
}

a.dropdown-item:hover,
button.dropdown-item:hover {
	background-color: var(--primary-color);
	color: var(--dark-color);
	cursor: pointer;
}

a.dropdown-item.is-active,
button.dropdown-item.is-active {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

/* text, der später ausgeblendet wird */
.is-hidden {
	display: none !important;
}

/* item properties for Points Of Interest */
.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); */
}

.item {
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
	display: block;
	background: var(--bg-sec-color);
	/* padding: 0rem 0.5rem; */
	box-shadow: 0 2px 8px rgba(0, 0, 0, .38);
	margin: .4rem;
	height: 40vh;
}
/* .item::after {
	content: '';
	position: absolute;
	display: block;
	background: inherit;
	opacity: 0.9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
	transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover:after {
	transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
} */
.item:hover .item-image {
	transform: scale(1.2);
}
/* .item:hover .item-text {
	opacity: 1;
	transform: translateY(0);
} */
.item-image {
	/* height: 20vh; */
	/* transform: translateY(1);
	transform: translateZ(1); */
	/* display: block; */
	transition: transform 750ms;

	/* overflow: hidden; */
	/* cubic-bezier(0.2, 1, 0.3, 1); */
}
.item-image:before {
	content: '';
	display: block;
	padding-top: 12rem;
	overflow: hidden;
}
.item-image img {
	/* background: center center/cover; */
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 22vh;
	background: var(--dark-color);

	overflow: hidden;
	/* height: fit-content; */
	/* line-height: 20rem; */
}
.item-text {
	/* position: absolute; */
	/* top: 0;
	left: 0;
	bottom: 0;
	right: 0; */
	/* opacity: 1; */
	text-align: right;

	/* z-index: 1; */
	color: #fff;
}
.item-text-wrap {
	position: absolute;
	width: 100%;
	top: 1rem;
	padding: 0 2rem;
	/* transform: translateY(-50%); */
}
.item-text-title {
	text-transform: capitalize;
	font-size: 1.2rem;

	margin: 5px 0 0 0;
}
.item-text-category {
	text-transform: uppercase;
	font-size: 1rem;
	/* opacity: 0.7; */
	margin: 0;
}

/* .item button {
	margin-top: 1.5rem;
} */

.item-desc {
	position: sticky;
	font-size: 1rem;

	text-align: start;
	/* z-index: 1; */
	/* color: #f4f4f4; */

	padding: 0.2rem 1rem;
}

/* .single-image {
	height: fit-content;
	transform: translateZ(0);
	display: block;
	transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.single-image img {

	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 0;
}

.single-title {
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: 0 1rem;
	margin: 5px 0 0 0;
}
.single-category {
	text-transform: uppercase;
	font-size: 1rem;

	margin: 0;
}

.single-text {
	font-size: 1.3rem;
	margin: 0;
	padding: 1rem;
} */

/* .items {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
} */

.single {
	display: flex;
	flex-direction: row;
	height: 20vh;
	border-radius: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .38);

	overflow: hidden;

	/* background: #2c3543 inherit; */
}

.single-text {
	background: var(--bg-sec-color);
}
.single-wrap {
	background-color: var(--highlight-color);
	display: flex;
	flex-direction: row;

	text-align: center;
	color: #0a0a0a;
	position: relative;
}

.single-headline {
	background: var(--dark-color);
	padding: .6rem 0;
	/* display: flex;
	flex-direction: row; */

	font-size: 2rem;
}

.single-title {
	text-transform: capitalize;
	font-size: 1.2rem;
	text-align: center;
	/* padding: 0 1rem; */
	/* margin: 5px 0 0 0; */
}
.single-title span {
	font-style: oblique;
	text-transform: uppercase;
	font-size: 1.1rem;
	text-align: end;
	/* padding: 0 1rem; */
	/* margin: 5px 0 0 0; */
}

.single-category {
	text-transform: capitalize;
	text-align: center;
	align-self: center;
	font-size: 1.7rem;
	color: var(--primary-color);
	/* opacity: 0.7; */
	padding: 0 1rem;
}

.single-desc a {
	position: sticky;
	font-size: 1rem;

	text-align: left;
	/* z-index: 1; */
	color: var(--dark-color);

	/* padding: 0.2rem 1rem; */
}
