/* NAVBAR */
#navbar {
	display: flex;
	position: sticky;
	top: 0;
	background: var(--secondary-color);
	color: var(--primary-color);
	justify-content: space-between;
	z-index: 1;
	padding: .8rem 1.4rem;
	align-items: center;
	height: 10vh;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	color: #fff;
	padding: 0.75rem;
	margin: 0 0.25rem;
}

#navbar ul li a:hover {
	background: var(--highlight-color);
	border-radius: 5px;
}

#navbar .sign-out {
	display: flex;
	align-items: center;
	list-style: none;
}

/* SHOWCASE */
#showcase {
	background: var(--dark-color) url('../img/showcase.jpg') no-repeat center center/cover;
	height: 60vh;
	color: #fff;
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.4);
}

/* POINTS OF INTEREST SEARCH RESULTS */
/* item properties for Points Of Interest */
.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.item {
	position: relative;
	border-radius: .25rem;
	overflow: hidden;
	display: grid;
	grid-template-rows: repeat(1, 1fr auto auto auto);
	background: var(--bg-sec-color);
	/* padding: 0rem 0.5rem; */
	box-shadow: 0 2px 8px rgba(0, 0, 0, .38);
	margin: .4rem;
}

.item-image:hover {
	transform: scale(1.2);
}

.item-image {
	transition: transform 750ms;
}
.item-image:before {
	content: '';
	display: block;
	padding-top: 12rem;
	overflow: hidden;
}
.item-image img {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 20vh;
	background: var(--dark-color);
	overflow: hidden;
}

.item-text-wrap {
	position: absolute;
	width: 100%;
	top: 1rem;
	right: 1rem;
	text-align: right;
	font-weight: bold;
}

.item-text-category a {
	color: var(--lighter-color);
	font-weight: bold;
}

.item-text-title {
	text-transform: capitalize;

	/* margin: 5px 0 0 0; */
}
.item-text-category {
	text-transform: uppercase;
	font-size: 0.9rem;
	/* opacity: 0.7; */
	margin: 0;
}

.item-desc {
	height: 14vh;
	margin-top: -1rem;
	font-size: 1rem;
	overflow: hidden;
	padding: 1.5rem 1rem;
}

.item-map {
	text-align: right;
	color: var(--highlight-color);
	padding-bottom: 0.2rem;
	font-size: small;
}

.item-map:hover {
	color: var(--highlight-color);
	text-decoration: underline;
	cursor: pointer;
}

.saved-data {
	display: grid;
	grid-template-columns: 5fr 2fr;
}

.loc-info {
	text-align: left;
	padding-right: .2rem;
}
.loc-notes {
	text-align: right;
	vertical-align: text-top;
	padding: 0 1rem;
	color: var(--secondary-color-alt);
	border-left: solid .0625rem var(--secondary-color-alt);
}

/* .view {
	height: 6%;
	color: var(--bg-sec-color);
} */

.saved {
	background-color: var(--secondary-color);
}

/* SHOWS LOCATION IN SEARCH AND LOCATIONS + POINTS OF INTEREST IN TRAVELLER AREA */
.single {
	border-radius: .45rem;
	margin-bottom: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .38);
	overflow: hidden;
}

.single-wrap {
	background-color: var(--highlight-color);
	text-align: center;
}

/* pointsOfInterest in Traveller Area */
.single-wrap.poi {
	display: grid;
	grid-template-columns: 7fr 2fr;
	background-color: var(--dark-color-alt);
	color: var(--secondary-color);
}
.sight-color {
	background-color: var(--alternative-color);
}

.single-text {
	background: var(--bg-sec-color);
	/* width: 100%; */
}
.single-text.btn {
	align-self: flex-start;
}
.single-text.btn {
	align-self: flex-start;
}

.single-headline {
	background: var(--dark-color);
	padding: 1rem;
	font-size: 2rem;
}

.single-title {
	text-transform: capitalize;
	font-size: 1.5rem;
	text-align: center;
	/* padding: 0 1rem; */
	/* margin: 5px 0 0 0; */
}

.single-title h2 {
	color: var(--primary-color);
}

.single-category {
	text-transform: uppercase;
	text-align: center;
	align-self: center;
	font-size: 3rem;
	color: var(--primary-color);
	padding: 1rem;
}

.single-desc {
	padding: 1rem;
	overflow: hidden;
}

.single-desc a {
	font-size: 1rem;
	text-align: left;
	color: var(--highlight-color);
	/* padding: 0.2rem 1rem; */
}

.small {
	font-size: 1.5rem;
}

/* color for different search category */
.country {
	background-color: var(--highlight-color);
}
.np {
	background-color: var(--secondary-color-alt);
}
.region {
	background-color: var(--secondary-color);
}
.city {
	background-color: var(--lighter-color);
}
